In [1]:
import pandas as pd
import glob
from datetime import datetime,date
import numpy as np

In [2]:
path = "/Users/Anina/Desktop/COVID-19/test_sample"

In [3]:
all_files = glob.glob(path + "/*.csv")

In [4]:
all_files

['/Users/Anina/Desktop/COVID-19/test_sample/06-08-2020.csv',
 '/Users/Anina/Desktop/COVID-19/test_sample/01-24-2022.csv',
 '/Users/Anina/Desktop/COVID-19/test_sample/02-01-2021.csv']

In [5]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

In [6]:
df = pd.concat(li, axis=0, ignore_index=True)

In [7]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Incident_Rate,Case_Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-09 03:33:03,34.223334,-82.461707,58,0,0.0,58.0,"Abbeville, South Carolina, US",236.474090,0.000000,NaN,NaN
1,22001.0,Acadia,Louisiana,US,2020-06-09 03:33:03,30.295065,-92.414197,513,29,0.0,484.0,"Acadia, Louisiana, US",826.819244,5.653021,NaN,NaN
2,51001.0,Accomack,Virginia,US,2020-06-09 03:33:03,37.767072,-75.632346,983,13,0.0,970.0,"Accomack, Virginia, US",3041.836861,1.322482,NaN,NaN
3,16001.0,Ada,Idaho,US,2020-06-09 03:33:03,43.452658,-116.241552,844,22,0.0,822.0,"Ada, Idaho, US",175.253900,2.606635,NaN,NaN
4,19001.0,Adair,Iowa,US,2020-06-09 03:33:03,41.330756,-94.471059,9,0,0.0,9.0,"Adair, Iowa, US",125.838926,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11716,NaN,NaN,NaN,Tonga,2021-02-02 05:22:49,-21.179000,-175.198200,0,0,0.0,0.0,Tonga,NaN,NaN,0.0,NaN
11717,NaN,NaN,NaN,Winter Olympics 2022,2021-02-02 05:22:49,39.904200,116.407400,0,0,0.0,0.0,Winter Olympics 2022,NaN,NaN,0.0,0.0
11718,NaN,NaN,NaN,Antarctica,2021-02-02 05:22:49,-71.949900,23.347000,0,0,0.0,0.0,Antarctica,NaN,NaN,0.0,0.0
11719,NaN,NaN,Jersey,United Kingdom,2021-02-02 05:22:49,49.213800,-2.135800,3150,66,0.0,0.0,"Jersey, United Kingdom",NaN,NaN,0.0,0.0
11720,NaN,NaN,Guernsey,United Kingdom,2021-02-02 05:22:49,49.448196,-2.589490,539,16,0.0,0.0,"Guernsey, United Kingdom",NaN,NaN,0.0,0.0

In [8]:
#For Loop to filter the columns and replace the null values
columns_list = [['Incidence_Rate','Incident_Rate'],
                ['Case-Fatality_Ratio','Case_Fatality_Ratio']]

for o,n in columns_list:
    df[f'clean_{o}'] = np.where(df[o].isna(),df[n],df[o])

In [9]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Incident_Rate,Case_Fatality_Ratio,clean_Incidence_Rate,clean_Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-09 03:33:03,34.223334,-82.461707,58,0,0.0,58.0,"Abbeville, South Carolina, US",236.474090,0.000000,NaN,NaN,236.474090,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-09 03:33:03,30.295065,-92.414197,513,29,0.0,484.0,"Acadia, Louisiana, US",826.819244,5.653021,NaN,NaN,826.819244,5.653021
2,51001.0,Accomack,Virginia,US,2020-06-09 03:33:03,37.767072,-75.632346,983,13,0.0,970.0,"Accomack, Virginia, US",3041.836861,1.322482,NaN,NaN,3041.836861,1.322482
3,16001.0,Ada,Idaho,US,2020-06-09 03:33:03,43.452658,-116.241552,844,22,0.0,822.0,"Ada, Idaho, US",175.253900,2.606635,NaN,NaN,175.253900,2.606635
4,19001.0,Adair,Iowa,US,2020-06-09 03:33:03,41.330756,-94.471059,9,0,0.0,9.0,"Adair, Iowa, US",125.838926,0.000000,NaN,NaN,125.838926,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11716,NaN,NaN,NaN,Tonga,2021-02-02 05:22:49,-21.179000,-175.198200,0,0,0.0,0.0,Tonga,NaN,NaN,0.0,NaN,0.000000,NaN
11717,NaN,NaN,NaN,Winter Olympics 2022,2021-02-02 05:22:49,39.904200,116.407400,0,0,0.0,0.0,Winter Olympics 2022,NaN,NaN,0.0,0.0,0.000000,0.000000
11718,NaN,NaN,NaN,Antarctica,2021-02-02 05:22:49,-71.949900,23.347000,0,0,0.0,0.0,Antarctica,NaN,NaN,0.0,0.0,0.000000,0.000000
11719,NaN,NaN,Jersey,United Kingdom,2021-02-02 05:22:49,49.213800,-2.135800,3150,66,0.0,0.0,"Jersey, United Kingdom",NaN,NaN,0.0,0.0,0.000000,0.000000
11720,NaN,NaN,Guernsey,United Kingdom,2021-02-02 05:22:49,49.448196,-2.589490,539,16,0.0,0.0,"Guernsey, United Kingdom",NaN,NaN,0.0,0.0,0.000000,0.000000

In [10]:
#Remove Time Stampe from column 'last_update'
df['Last_Update'] = pd.to_datetime(df['Last_Update']).dt.normalize()
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Incident_Rate,Case_Fatality_Ratio,clean_Incidence_Rate,clean_Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-09,34.223334,-82.461707,58,0,0.0,58.0,"Abbeville, South Carolina, US",236.474090,0.000000,NaN,NaN,236.474090,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-09,30.295065,-92.414197,513,29,0.0,484.0,"Acadia, Louisiana, US",826.819244,5.653021,NaN,NaN,826.819244,5.653021
2,51001.0,Accomack,Virginia,US,2020-06-09,37.767072,-75.632346,983,13,0.0,970.0,"Accomack, Virginia, US",3041.836861,1.322482,NaN,NaN,3041.836861,1.322482
3,16001.0,Ada,Idaho,US,2020-06-09,43.452658,-116.241552,844,22,0.0,822.0,"Ada, Idaho, US",175.253900,2.606635,NaN,NaN,175.253900,2.606635
4,19001.0,Adair,Iowa,US,2020-06-09,41.330756,-94.471059,9,0,0.0,9.0,"Adair, Iowa, US",125.838926,0.000000,NaN,NaN,125.838926,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11716,NaN,NaN,NaN,Tonga,2021-02-02,-21.179000,-175.198200,0,0,0.0,0.0,Tonga,NaN,NaN,0.0,NaN,0.000000,NaN
11717,NaN,NaN,NaN,Winter Olympics 2022,2021-02-02,39.904200,116.407400,0,0,0.0,0.0,Winter Olympics 2022,NaN,NaN,0.0,0.0,0.000000,0.000000
11718,NaN,NaN,NaN,Antarctica,2021-02-02,-71.949900,23.347000,0,0,0.0,0.0,Antarctica,NaN,NaN,0.0,0.0,0.000000,0.000000
11719,NaN,NaN,Jersey,United Kingdom,2021-02-02,49.213800,-2.135800,3150,66,0.0,0.0,"Jersey, United Kingdom",NaN,NaN,0.0,0.0,0.000000,0.000000
11720,NaN,NaN,Guernsey,United Kingdom,2021-02-02,49.448196,-2.589490,539,16,0.0,0.0,"Guernsey, United Kingdom",NaN,NaN,0.0,0.0,0.000000,0.000000

In [11]:
#created a new Df with new columns
new_df = df[['Admin2','Province_State','Country_Region',
            'Last_Update','Lat','Long_','Confirmed','Deaths',
            'Recovered','Active','clean_Incidence_Rate',
            'clean_Case-Fatality_Ratio']].copy()
new_df.tail()

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,clean_Incidence_Rate,clean_Case-Fatality_Ratio
11716,NaN,NaN,Tonga,2021-02-02,-21.179000,-175.19820,0,0,0.0,0.0,0.0,NaN
11717,NaN,NaN,Winter Olympics 2022,2021-02-02,39.904200,116.40740,0,0,0.0,0.0,0.0,0.0
11718,NaN,NaN,Antarctica,2021-02-02,-71.949900,23.34700,0,0,0.0,0.0,0.0,0.0
11719,NaN,Jersey,United Kingdom,2021-02-02,49.213800,-2.13580,3150,66,0.0,0.0,0.0,0.0
11720,NaN,Guernsey,United Kingdom,2021-02-02,49.448196,-2.58949,539,16,0.0,0.0,0.0,0.0

In [12]:
#Renaming Columns
#df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)
new_df.rename(columns={'clean_Incidence_Rate': 'Incident_Rate',
                      'clean_Case-Fatality_Ratio':'Case_Fatality_Ratio',
                      'Admin2': 'City',
                        'Active': 'Cases_Per_Day',
                      'Confirmed':'Confirmed_Cases'}, inplace= True)
new_df.head()

,City,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed_Cases,Deaths,Recovered,Cases_Per_Day,Incident_Rate,Case_Fatality_Ratio
0,Abbeville,South Carolina,US,2020-06-09,34.223334,-82.461707,58,0,0.0,58.0,236.474090,0.000000
1,Acadia,Louisiana,US,2020-06-09,30.295065,-92.414197,513,29,0.0,484.0,826.819244,5.653021
2,Accomack,Virginia,US,2020-06-09,37.767072,-75.632346,983,13,0.0,970.0,3041.836861,1.322482
3,Ada,Idaho,US,2020-06-09,43.452658,-116.241552,844,22,0.0,822.0,175.253900,2.606635
4,Adair,Iowa,US,2020-06-09,41.330756,-94.471059,9,0,0.0,9.0,125.838926,0.000000

In [27]:
decimals = pd.Series([1, 1], index=['Incident_Rate', 'Case_Fatality_Ratio'])
new_df.round(decimals)

,City,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed_Cases,Deaths,Recovered,Cases_Per_Day,Incident_Rate,Case_Fatality_Ratio
0,Abbeville,South Carolina,US,2020-06-09,34.223334,-82.461707,58,0,0.0,58.0,236.5,0.0
1,Acadia,Louisiana,US,2020-06-09,30.295065,-92.414197,513,29,0.0,484.0,826.8,5.7
2,Accomack,Virginia,US,2020-06-09,37.767072,-75.632346,983,13,0.0,970.0,3041.8,1.3
3,Ada,Idaho,US,2020-06-09,43.452658,-116.241552,844,22,0.0,822.0,175.3,2.6
4,Adair,Iowa,US,2020-06-09,41.330756,-94.471059,9,0,0.0,9.0,125.8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11716,NaN,NaN,Tonga,2021-02-02,-21.179000,-175.198200,0,0,0.0,0.0,0.0,NaN
11717,NaN,NaN,Winter Olympics 2022,2021-02-02,39.904200,116.407400,0,0,0.0,0.0,0.0,0.0
11718,NaN,NaN,Antarctica,2021-02-02,-71.949900,23.347000,0,0,0.0,0.0,0.0,0.0
11719,NaN,Jersey,United Kingdom,2021-02-02,49.213800,-2.135800,3150,66,0.0,0.0,0.0,0.0
11720,NaN,Guernsey,United Kingdom,2021-02-02,49.448196,-2.589490,539,16,0.0,0.0,0.0,0.0

In [29]:
new_df.dtypes

City                           object
Province_State                 object
Country_Region                 object
Last_Update            datetime64[ns]
Lat                           float64
Long_                         float64
Confirmed_Cases                 int64
Deaths                          int64
Recovered                     float64
Cases_Per_Day                 float64
Incident_Rate                 float64
Case_Fatality_Ratio           float64
dtype: object

In [34]:
#Filter by Year 2019
nineteen_df = new_df[new_df['Last_Update'].dt.to_period('Y') == '2019']
nineteen_df

Empty DataFrame
Columns: [City, Province_State, Country_Region, Last_Update, Lat, Long_, Confirmed_Cases, Deaths, Recovered, Cases_Per_Day, Incident_Rate, Case_Fatality_Ratio]
Index: []

In [35]:
#Filter by Year 2020
twenty_df = new_df[new_df['Last_Update'].dt.to_period('Y') == '2020']
twenty_df

,City,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed_Cases,Deaths,Recovered,Cases_Per_Day,Incident_Rate,Case_Fatality_Ratio
0,Abbeville,South Carolina,US,2020-06-09,34.223334,-82.461707,58,0,0.0,58.0,236.474090,0.000000
1,Acadia,Louisiana,US,2020-06-09,30.295065,-92.414197,513,29,0.0,484.0,826.819244,5.653021
2,Accomack,Virginia,US,2020-06-09,37.767072,-75.632346,983,13,0.0,970.0,3041.836861,1.322482
3,Ada,Idaho,US,2020-06-09,43.452658,-116.241552,844,22,0.0,822.0,175.253900,2.606635
4,Adair,Iowa,US,2020-06-09,41.330756,-94.471059,9,0,0.0,9.0,125.838926,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
9492,Unassigned,Kentucky,US,2020-12-21,NaN,NaN,0,0,0.0,0.0,NaN,NaN
9575,Out of ME,Maine,US,2020-08-07,NaN,NaN,0,0,0.0,0.0,NaN,NaN
10051,Unassigned,Montana,US,2020-12-21,NaN,NaN,0,0,0.0,0.0,NaN,NaN
10653,Unassigned,Oregon,US,2020-12-21,NaN,NaN,0,0,0.0,0.0,NaN,NaN
11434,Unassigned,Virginia,US,2020-12-21,NaN,NaN,0,0,0.0,0.0,NaN,NaN

In [36]:
#Filter by Year 2021
twentyone_df = new_df[new_df['Last_Update'].dt.to_period('Y') == '2021']
twentyone_df

,City,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed_Cases,Deaths,Recovered,Cases_Per_Day,Incident_Rate,Case_Fatality_Ratio
3674,Copper River,Alaska,US,2021-04-02,60.388600,-162.89052,0,0,0.0,0.0,0.000000,NaN
3675,Chugach,Alaska,US,2021-04-02,61.166660,-149.90000,13,0,0.0,13.0,192.564065,0.000000
4049,NaN,Port Quarantine,Japan,2021-11-10,NaN,NaN,4463,4,NaN,NaN,NaN,0.089626
4060,NaN,Unknown,Japan,2021-11-10,NaN,NaN,8,0,NaN,NaN,NaN,0.000000
4338,NaN,Unknown,Spain,2021-04-25,NaN,NaN,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11716,NaN,NaN,Tonga,2021-02-02,-21.179000,-175.19820,0,0,0.0,0.0,0.000000,NaN
11717,NaN,NaN,Winter Olympics 2022,2021-02-02,39.904200,116.40740,0,0,0.0,0.0,0.000000,0.000000
11718,NaN,NaN,Antarctica,2021-02-02,-71.949900,23.34700,0,0,0.0,0.0,0.000000,0.000000
11719,NaN,Jersey,United Kingdom,2021-02-02,49.213800,-2.13580,3150,66,0.0,0.0,0.000000,0.000000
11720,NaN,Guernsey,United Kingdom,2021-02-02,49.448196,-2.58949,539,16,0.0,0.0,0.000000,0.000000

In [37]:
#Filter by Year 2022
twentytwo_df = new_df[new_df['Last_Update'].dt.to_period('Y') == '2022']
twentytwo_df

,City,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed_Cases,Deaths,Recovered,Cases_Per_Day,Incident_Rate,Case_Fatality_Ratio
3703,NaN,NaN,Afghanistan,2022-01-25,33.939110,67.709953,159896,7393,NaN,NaN,410.744450,4.623630
3704,NaN,NaN,Albania,2022-01-25,41.153300,20.168300,248070,3305,NaN,NaN,8620.126486,1.332285
3705,NaN,NaN,Algeria,2022-01-25,28.033900,1.659600,238885,6508,NaN,NaN,544.764694,2.724323
3706,NaN,NaN,Andorra,2022-01-25,42.506300,1.521800,33025,144,NaN,NaN,42742.509545,0.436033
3707,NaN,NaN,Angola,2022-01-25,-11.202700,17.873900,97263,1888,NaN,NaN,295.935638,1.941129
...,...,...,...,...,...,...,...,...,...,...,...,...
7708,NaN,NaN,Zimbabwe,2022-01-25,-19.015438,29.154857,228541,5305,NaN,NaN,1537.658094,2.321247
7709,NaN,NaN,Winter Olympics 2022,2022-01-25,39.904200,116.407400,78,0,0.0,0.0,0.000000,0.000000
7710,NaN,NaN,Antarctica,2022-01-25,-71.949900,23.347000,11,0,0.0,0.0,0.000000,0.000000
7711,NaN,Jersey,United Kingdom,2022-01-25,49.213800,-2.135800,28109,96,0.0,0.0,0.000000,0.000000
7712,NaN,Guernsey,United Kingdom,2022-01-25,49.448196,-2.589490,10718,30,0.0,0.0,0.000000,0.000000

In [ ]:
# FIPS: US only. Federal Information Processing Standards code that uniquely identifies counties within the USA.
# Admin2: County name. US only.
# Province_State: Province, state or dependency name.
# Country_Region: Country, region or sovereignty name. The names of locations included on the Website correspond with the official designations used by the U.S. Department of State.
# Last Update: MM/DD/YYYY HH:mm:ss (24 hour format, in UTC).
# Lat and Long_: Dot locations on the dashboard. All points (except for Australia) shown on the map are based on geographic centroids, and are not representative of a specific address, building or any location at a spatial scale finer than a province/state. Australian dots are located at the centroid of the largest city in each state.
# Confirmed: Counts include confirmed and probable (where reported).
# Deaths: Counts include confirmed and probable (where reported).
# Recovered: Recovered cases are estimates based on local media reports, and state and local reporting when available, and therefore may be substantially lower than the true number. US state-level recovered cases are from COVID Tracking Project. We stopped to maintain the recovered cases (see Issue #3464 and Issue #4465).
# Active: Active cases = total cases - total recovered - total deaths. This value is for reference only after we stopped to report the recovered cases (see Issue #4465)
# Incident_Rate: Incidence Rate = cases per 100,000 persons.
# Case_Fatality_Ratio (%): Case-Fatality Ratio (%) = Number recorded deaths / Number cases.
# All cases, deaths, and recoveries reported are based on the date of initial report. Exceptions to this are noted in the "Data Modification" and "Retrospective reporting of (probable) cases and deaths" subsections below.

In [ ]:
new_df.to_csv('test_sample_data2.csv', index=False)